<h3>Reactive form</h3>
<p>with Bootstrap <code>form-control</code> class, form validation, and initial, predefined value between tagify element tags <code>'Reactive, Form'</code></p>
<form [formGroup]="form" class="was-validated mb-2">
  <tagify formControlName="tags"
          [class.is-invalid]="form.invalid"
          [inputClass]="'form-control' + (form.invalid ? ' is-invalid' : '')">
    {{ predefinedValue }}
  </tagify>
  <div class="invalid-feedback">
    Add at least 3 tags.
  </div>
</form>
<p>Form is valid: <span class="text-monospace">{{ form.valid }}</span></p>
<p class="text-monospace">{{ form.value | json }}</p>
<p><a href="https://github.com/Brakebein/ngx-tagify/tree/master/src/app/example-reactive-form" target="_blank">Code</a></p>
