<h1>ngx-tagify</h1>
<hr/>

<h3>Simple tagify</h3>
<p>
  <tagify [name]="'test2'"
          [(value)]="values"
          (add)="onAdd($event)"
          (remove)="onRemove($event)">
  </tagify>
</p>
<p>
  <button (click)="replaceTags()" class="btn btn-secondary btn-sm">Replace tags</button>
</p>
<p class="text-monospace">{{ values | json }}</p>

<hr/>

<h3>Another tagify</h3>
<p>
  controlled by <code>TagifyService</code>, with Bootstrap <code>form-control</code> class, and suggestions (<code>Hello</code>, <code>World</code>)
</p>
<p>
  <tagify name="test"
          inputClass="form-control"
          [settings]="settings"
          [suggestions]="suggestion$"
          (add)="onAdd($event)"
          (remove)="onRemove($event)">
  </tagify>
</p>
<p>
  <button (click)="clearTags()" class="btn btn-secondary btn-sm mr-2">Clear</button>
  <button (click)="addTags()" class="btn btn-secondary btn-sm">Add tags</button>
</p>
